@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* font-family: 'Plus Jakarta Sans', sans-serif; */

/* @import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"); */

/* font-family: 'Red Hat Text', sans-serif; */

/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"); */

/* font-family: 'Roboto Mono', monospace; */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

:root {
  --font: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;

  --dark-blue: #023e7d;
  --ligh-blue: #006edc;
  --green: #09bc8a;
  --orange: #ff6d00;
  --pink: #f07167;
  --white: #ffffff;
  /* --background: #e9ecef; */
  --background: #fafafa;
  --border: #ededed;
  --gray: #eee;

  /*Margins*/
  --m: 1.25rem;
  --ms: 2.5rem;
  --m-large: 5rem;
  --mtb: 1.25rem 0;
  --mb: 0 0 1.25rem 0;
  --mb-large: 0 0 5rem 0;
  --mt: 1.25rem 0 0 0;
  --mtb-auto: 1.25rem auto;
  --mtb-auto-large: 5rem auto;
  --mtb-medium: 2.5rem auto;
  --mlr: 0 1.25rem;
  --ml: 0 0 0 1.25rem;
  --mr: 0 1.25rem 0 0;
  --mtb-small: 1.25rem 0;
  --mtb-medium: 2.5rem 0;
  --mt-medium: 2.5rem 0 0 0;
  --mtb-large: 5rem 0;
  --mb-large: 0 0 5rem 0;
  --mt-large: 5rem 0 0 0;
  --m-auto: 0 auto;

  /*Paddings*/
  --p: 1.25rem;
  --ps: 0.625rem;
  --p-medium: 2.5rem;
  --p-large: 5rem;
  --pb: 0 0 1.25rem 0;
  --pt: 1.25rem 0 0 0;
  --pt-medium: 2.5rem 0 0 0;
  --ptb: 1.25rem 0;
  --ptb-medium: 2.5rem 0;
  --ptb-large: 5rem 0;
  --pr: 0 1.25rem 0 0;
  --pr-medium: 0 2.5rem 0 0;
  --pl: 0 0 0 1.25rem;
  --plr: 0 1.25rem;
  --plr-medium: 0 2.5rem;
  --p-mobile-medium: 2.5rem 1.25rem;
  --pt-mobile-medium: 2.5rem 1.25rem 0 1.25rem;

  /*Border radius*/
  --border-radius-4: 4px;
  --border-radius-10: 10px;
  --border-radius-20: 20px;
  --border-radius-40: 40px;
  --border-radius-100: 100%;
  --border-radius-top-10: 10px 10px 0 0;
  --border-radius-right-10: 0px 10px 10px 0;
  --border-radius-left-10: 10px 0px 0px 10px;
  --border-radius-bottom-10: 0px 0px 10px 10px;
  --border-radius-top-20: 20px 20px 0 0;
  --border-radius-right-20: 0px 20px 20px 0;
  --border-radius-left-20: 20px 0px 0px 20px;
  --border-radius-bottom-20: 0px 0px 20px 20px;

  /* Slider  */
  --slider-height-percentage: 100% !important;
  --slider-height-percentage-tablet: 600px !important;
  --slider-height-percentage-desktop: 400px !important;

  /*background colors*/
  --bg-gray-200: #eee;

  /*Shadows*/
  --shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
  --btn-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.padding {
  padding: var(--p);
}

.ptb {
  padding: var(--ptb);
}

.ptb-large {
  padding: var(--ptb-large);
}

.pt {
  padding: var(--pt);
}

.mtb {
  margin: var(--mtb);
}

.p-mobile-medium {
  padding: var(--p-mobile-medium) !important;
}

.pt-mobile-medium {
  padding: var(--pt-mobile-medium) !important;
}

html,
body {
  background-color: var(--background);
  height: 100%;
  word-wrap: break-word;
  color: var(--dark-blue);
}

.hiden {
  /*Mobile*/
  display: none !important;
}

hr {
  border-bottom: 1px solid var(--border);
  /* margin: var(--mtb-medium); */
}

hr.divider {
  border-bottom: 1px solid var(--border);
  margin: var(--mtb);
  width: 100%;
}

/* Color classes HTML */

.dark-blue {
  color: var(--dark-blue);
}
.green {
  color: var(--green);
}
.ligh-blue {
  color: var(--ligh-blue);
}
.orange {
  color: var(--orange);
}
.border {
  color: var(--border);
}
.background {
  color: var(--background);
}
.pink {
  color: var(--pink);
}
.white {
  color: var(--white);
}
.gray {
  color: var(--gray);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font);
  font-weight: 600;
  /* margin-bottom: 1rem; */
  word-break: break-word;
}

h1 {
  font-family: var(--font);
  font-size: 3rem;
  line-height: normal;
  margin-bottom: var(--mtb-medium);
  /* letter-spacing: -0.125rem; */
}

h2 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: auto;
  margin-bottom: var(--m);
}

h3 {
  font-family: var(--font);
  font-size: 1.5rem;
  line-height: auto;
  margin-bottom: var(--ms);
}

h4 {
  font-family: var(--font);
  font-size: 1.125rem;
  line-height: auto;
  /* margin-bottom: var(--ms); */
}

p {
  /* color: var(--dark-blue); */
  font-family: var(--font);
  font-size: 1rem;
  line-height: 1.5rem;

  word-break: break-word;
}

.span {
  font-size: 0.733rem;
  /* color: var(--orange); */
}

.smaller {
  font-size: 0.667rem;
  line-height: normal;
  /* color: var(--border); */
  /* font-weight: 600; */
}

.bold {
  font-weight: 600;
}

/* Alignment */
.text-center {
  display: inline-flex;
  text-align: center !important;
  justify-content: center;
  flex-wrap: wrap;
  word-wrap: break-word;
  word-break: break-word;
}

.m-auto {
  margin: var(--m-auto);
}

/*******************************************/

/* Home wrapper */

.unicode {
  font-size: 1.33rem;
  padding: var(--p);
}

section {
  width: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin: var(--m-auto);
  padding: var(--ptb-large);
  max-width: 100%;
}

/* Buttons */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  color: var(--white);
  -webkit-color: var(--white);
  -ms-color: var(--white);
  -moz-color: var(--white);
  background-color: var(--green);
  -webkit-background-color: var(--green);
  -ms-background-color: var(--green);
  -moz-background-color: var(--green);
}

.btn {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  padding: 15px 32px;
  text-decoration: none;
  color: var(--white);
  background-color: var(--green);
  -webkit-background-color: var(--green);
  -ms-background-color: var(--green);
  -moz-background-color: var(--green);
  border-radius: var(--border-radius-40);
  gap: 1.25rem;
  margin: var(--mtb);
}

.btn:hover {
  font-family: var(--font);
  background-color: var(--ligh-blue);
  /* border: 1px solid var(--green); */
}

.btn svg {
  width: 1.25rem;
  height: auto;
}

.btn-second {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  padding: 15px 32px;
  text-decoration: none;
  color: var(--green);
  background-color: transparent;
  -webkit-background-color: transparent;
  -ms-background-color: transparent;
  -moz-background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius-40);
  margin: var(--mtb);
}

.btn-second:hover {
  border-color: var(--dark-blue);
  color: var(--dark-blue);
}

.container-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.btn-card {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  padding: 8px 32px;
  text-decoration: none;
  color: var(--white);
  background-color: var(--green);
  -webkit-background-color: var(--green);
  -ms-background-color: var(--green);
  -moz-background-color: var(--green);
  border-radius: var(--border-radius-40);
  gap: 1.25rem;
  margin: var(--mtb);
}

.btn-card:hover {
  font-family: var(--font);

  background-color: var(--dark-blue);
}

.btn-card-second {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  padding: 8px 32px;
  text-decoration: none;
  color: var(--green);
  background-color: transparent;
  -webkit-background-color: transparent;
  -ms-background-color: transparent;
  -moz-background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius-40);
  margin: var(--mtb);
}

.btn-card-second:hover {
  border-color: var(--dark-blue);
  color: var(--dark-blue);
}

.btn svg {
  width: 1.25rem;
  height: auto;
}

.btn-contact {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  padding: 15px 32px;
  text-decoration: none;
  color: var(--white);
  background-color: var(--ligh-blue);
  -webkit-background-color: var(--ligh-blue);
  -ms-background-color: var(--ligh-blue);
  -moz-background-color: var(--ligh-blue);
  border-radius: var(--border-radius-40);
  gap: 1.25rem;
  margin: var(--mtb);
}

.btn-contact:hover {
  font-family: var(--font);
  background-color: var(--dark-blue);
}

#contact-us .btns-container,
#modal-intro .btns-container {
  gap: 5rem;
  justify-content: center;
  padding: var(--p-mobile-medium);
}

.btn-slet {
  font-family: var(--font);
  font-size: 0.75rem;
  font-weight: 600;
  cursor: pointer;
  padding: 8px 15px;
  text-decoration: none;
  color: var(--green);
  background-color: transparent;
  -webkit-background-color: transparent;
  -ms-background-color: transparent;
  -moz-background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius-20);
  /* margin: var(--mtb); */
}

.btn-slet:hover {
  border-color: var(--dark-blue);
  color: var(--dark-blue);
}
a.back:link {
  font-family: var(--font);
  font-size: 0.75rem;
  color: var(--dark-blue);
  text-decoration: none;
}

a.back:hover {
  font-family: var(--font);
  font-size: 0.75rem;
  color: var(--green);
  text-decoration: none;
}

/* Header */

/* Nav */

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  align-items: first baseline;
  margin: var(--m-auto);
  background-color: var(--white);
  box-shadow: var(--shadow);
  /* position: fixed; */
}
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  width: 100%;
  height: 72px;
  /* padding: var(--ptb-large); */
  /* position: absolute; */
}

.icons-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  width: fit-content;
  gap: 0.667rem;
  /* fill: var(--green); */
}

#menu {
  display: none;
  width: 100%;
  background-color: var(--white);
}

#menu-desk {
  display: none;
}

nav ul {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--border);
}

nav ul li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: var(--ptb-medium); */
  border-bottom: 1px solid var(--border);
}

nav ul li a {
  font-family: var(--font);
  font-weight: 600;
  text-decoration: none;
  letter-spacing: auto;
  line-height: 2.5rem;
  color: var(--dark-blue);

  width: 100%;
  height: auto;
  text-align: center;
  padding: var(--p);
}

nav ul li a:hover {
  color: var(--green);
}

nav ul li a.phone {
  color: var(--white);
  background-color: var(--green);
}
nav ul li a.phone:hover {
  color: var(--white);
  background-color: var(--dark-blue);
}

nav ul li a.close {
  color: var(--white);
}

.logo {
  width: 6rem;
  max-width: 6rem;
  /* height: auto; */
}

.logo img {
  padding: 0;
}

.logo,
.open,
.basket-icon,
.person,
.phone,
.contact {
  padding: var(--ps);
}

.phone {
  background-color: var(--green);
  color: var(--white);
  border-radius: var(--border-radius-10);
}

.person,
.basket-icon {
  display: none;
}

.contact {
  background-color: var(--ligh-blue);
  color: var(--white);
  border-radius: var(--border-radius-10);
}

.chat {
  background-color: transparent;
  color: var(--white);
  border-radius: var(--border-radius-10);
  border: 1px solid var(--white);
  padding: var(--ps);
  border-radius: var(--border-radius-100);
}

.close svg,
.basket-icon svg,
.close-modal svg,
.person svg,
.phone svg .email svg,
.contact svg {
  width: 1rem;
  height: auto;
}

.open svg {
  width: 24px;
  height: auto;
}

.btn-close {
  color: var(--dark-blue);
  background-color: var(--background) !important;
}

.how-many {
  display: flex;
  width: fit-content;
  position: absolute;
  background-color: var(--black);
  top: 40px;
  left: 35px;
  /* border: 1px solid var(--pink); */
  /* border-radius: 200px; */
}

/* Basket */

#basket {
  width: 100%;
  min-width: fit-content;
  display: none;
  border-left: none;
  background-color: var(--background);
  height: fit-content;
  border-top: 1px solid var(--border);
  z-index: 5;
}

.basket-icon {
  /* display: flex; */
  flex-flow: row;
  position: relative;
  cursor: pointer;
  height: fit-content;
}

.basket-container {
  padding: var(--p);
  overflow: scroll;
  text-align: center;
  width: 100%;
  box-shadow: var(--shadow);
  background-color: var(--background);
}

/* Cards Basket */

.card-basket-container,
.card-container {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: var(--border-radius-10);
  box-shadow: var(--shadow);
  width: 100%;
  height: fit-content;
  position: relative;
  color: var(--dark-blue);
}

.card-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  background-image: url("../public/herokurser.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: var(--border-radius-top-10); /* left in desktop */
}

.video-one-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  background-image: url("../public/videoone.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: var(--border-radius-top-10); /* left in desktop */
}

.card-basket-image,
.video-two-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  background-image: url("../public/videotwo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: var(--border-radius-top-10); /* left in desktop */
}

.video-three-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  background-image: url("../public/videothree.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: var(--border-radius-top-10); /* left in desktop */
}

/* Chat Support  */

.chat-icon {
  color: var(--white);
  background-color: var(--green);
  padding: var(--p);
}

#chat {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: fixed;
  width: 100%;
  background-color: transparent;
  z-index: 3;
  bottom: 0;
  right: 0;
  padding: var(--p);
}

.chat-icon-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1.25rem;
  flex-wrap: wrap;
  /* padding: var(--p); */
  color: var(--white);
}

.chat-icon {
  display: flex;
  flex-flow: row;
  position: absolute;
  cursor: pointer;
  height: fit-content;
  border-radius: var(--border-radius-100);
  box-shadow: var(--shadow);
}

.chat-container {
  display: none;
  flex-direction: column;
  padding: var(--p);
  overflow: scroll;
  text-align: center;
  width: 100%;
  background-color: var(--green);
  border-radius: var(--border-radius-20);
  box-shadow: var(--shadow);
  color: var(--white);
  margin-bottom: 5rem;
}

.chat-container h4 {
  margin: 0;
}

.chat-supports-message {
  height: fit-content;
  max-height: 20vh;
  margin: var(--mtb);
  background-color: var(--white);
  border-radius: var(--border-radius-20);
  color: var(--dark-blue);
  font-weight: 600;
  padding: var(--p);
  text-align: right;
  overflow: scroll;
}

/* Hero Home */

.hero-home-container {
  grid-column: 1 / -1;
  background-color: var(--dark-blue);
  width: 100%;
  height: 90vh;
  /* aspect-ratio: 1 / 1; */
  object-fit: cover;
  background-image: url("../public/herohomemobile.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
}

.hero-home-text {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100vw;
  height: 55vh;
  text-align: left;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  color: var(--white);
  padding: var(--p);
  text-align: center;
  /* margin-top: 20vh; */
  background-color: var(--dark-blue);
  position: absolute;
  bottom: 0;
}

.hero-home-text h1 {
  font-size: 1.5rem;
  margin: var(--mt);
  /* font-weight: 600; */
}

.hero-home-text h4 {
  font-size: 1rem;
  margin: 0;
}

.hero-home-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  background-image: url("../public/herohome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

/* Courses Home + About Jesper */

#courses-home-container {
  grid-column: 1 / -1;
  background-color: var(--ligh-blue);
}
#about-jesper-container {
  grid-column: 1 / -1;
  background-color: var(--dark-blue);
}

.courses-home-text,
.about-jesper-text {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
  height: inherit !important;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  color: var(--white);
  padding: var(--p-mobile-medium);
}

.courses-home-text {
  background-color: var(--ligh-blue);
}
.about-jesper-text {
  background-color: var(--dark-blue);
}

.courses-home-image,
.about-jesper-image {
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.courses-home-image {
  aspect-ratio: 1 / 1;
  background-image: url("../public/kurserhome.jpg");
}
.about-jesper-image {
  aspect-ratio: 16 / 9;
  background-image: url("../public/aboutjesper.jpg");
}

/* About */

#hero-about-container {
  grid-column: 1 / -1;
  position: relative;
  height: 550px;
  background-image: url("../public/heroabout.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: var(--white);
  justify-items: center !important;
}

#about-us,
#contact-us,
#faq-questions {
  grid-column: 1 / -1;
  padding: var(--p-mobile-medium);
  text-align: left;
}

#about-us {
  color: var(--dark-blue);
  background-color: var(--white);
}
#contact-us {
  color: var(--white);
  background-color: var(--green);
}

.mission,
.vision,
.verdier {
  grid-column: 1 / -1;
  padding: var(--pt-medium);
}

.mission h4,
.vision h4,
.verdier h4 {
  margin: var(--mt);
}

#our-partners {
  grid-column: 1 / -1;
}

.partners-container {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--p-mobile-medium);
  width: 100%;
}

.partners {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1.25rem;
  width: 100%;
  height: 400px;
  padding: var(--p-mobile-medium);
}

.partner {
  padding: var(--p);
}

/* Accordion  */

.accordion {
  /* width: 65%; */
  font-family: var(--font);
  color: var(--dark-blue);
  text-align: left;
  background-color: var(--white);
  outline: none;
  cursor: pointer;
  transition: 0.4s;
  padding: var(--p-mobile-medium);
  border-radius: var(--border-radius-10) !important;
  border-color: none;
}

.accordion__heading {
  /* border: 1px solid var(--border); */
  padding: 0;
  border-radius: var(--border-radius-10);
}

.accordion__item {
  /* border: 1px solid var(--pink); */
  padding: var(--ptb);
  border-radius: var(--border-radius-10);
}

.accordion__item + .accordion__item {
  border-top: 0 !important;
}

.accordion__button {
  /* background-color: var(--black); */
  color: var(--dark-blue) !important;
  cursor: pointer;
  padding: var(--p-medium);
  /* width: 100%; */
  text-align: left;
  border: none;
  border-radius: var(--border-radius-10);
  background-image: url("/public/plusgreen.svg");
  object-fit: cover;
  /* width: 24px; */
  /* height: 24px; */
}

.accordion__button:hover {
  /* background-color: var(--gray); */
  color: var(--white) !important;
  background-color: var(--green) !important;
}

.accordion__button:before {
  display: inline-block;
  content: "";
  height: 10px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 2px solid var(--green);
  border-right: 2px solid var(--green);
  transform: rotate(-45deg);
}

.accordion__button[aria-expanded="true"]::before,
.accordion__button[aria-selected="true"]::before {
  transform: rotate(45deg);
}

.hidden {
  display: none;
}

.accordion__panel {
  padding: var(--p-medium);
  animation: fadein 0.35s ease-in;
}

/* Personal information Animation part */

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Layout */

/* Body */

.wrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  height: 100%;
}

.grid,
.grid-center {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  row-gap: 0;
  column-gap: 2.5rem;
  width: 100%;
  margin: var(--m-auto);
  position: relative;
}

.grid {
  /* padding-top: 4.5rem; */
  justify-items: start;
  align-items: start;
}

.grid-center {
  justify-items: start;
  align-items: center;
}

/* Flex */

.flex-row-space-around {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.flex-row-center {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  /* flex-wrap: wrap; */
}

.flex-row-left {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.flex-row-right {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.flex-column {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 0.5rem; */
  flex-wrap: wrap;
}

.flex-column-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  gap: 0.5rem;
  flex-wrap: wrap;
  text-align: left;
}

.flex-column-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0.5rem;
  flex-wrap: wrap;
}

/* Footer */

.logo-footer {
  width: 7rem;
  max-width: 7rem;
  /* margin: var(--mtb-medium); */
}

footer ul .trustpilot {
  margin: var(--mb);
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  height: auto;
  position: relative;
  background-color: var(--dark-blue);
  grid-gap: 1.25rem;
  width: 100%;
  color: var(--white);
  padding: var(--plr);
  font-size: 0.75rem;
}

footer ul,
.contact-info-footer {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  /* border-top: 1px solid var(--border); */
}

footer ul {
  margin: var(--mtb);
}

footer .ul-logo {
  margin: var(--mt-large);
}

.contact-info-footer {
  margin: var(--mb-large);
}

footer ul li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.667rem;
}

.contact-info-footer li {
  width: fit-content !important;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  gap: 1.25rem !important;
  flex-flow: row;
}

footer ul li a,
.contact-info-footer ul li a {
  font-size: 1rem;
  font-family: var(--font);
  text-decoration: none;
  letter-spacing: auto;
  line-height: 3rem;
  color: var(--white);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
}

footer ul li a:hover,
.contact-info-footer ul li a:hover {
  color: var(--green);
}

footer ul li a.phone {
  color: var(--white);
  background-color: var(--green);
}
footer ul li a.phone:hover {
  color: var(--white);
  background-color: var(--dark-blue);
}

footer ul li a.close {
  color: var(--white);
}

@media only screen and (min-width: 768px) {
}

/* Components  */

#saadan-intro,
#gdpr {
  grid-column: 1 / -1;
  padding: var(--p-mobile-medium);
}
#saadan-intro {
  color: var(--white);
  background-color: var(--dark-blue);
}
#gdpr {
  color: var(--dark-blue);
  background-color: var(--background);
}

#gdpr:first-child {
  justify-content: c;
  text-align: center;
}

/**/

#advantages {
  grid-column: 1 / -1;
  padding: var(--p-mobile-medium);
  background-color: var(--green);
  color: var(--white);
  padding: var(--p-mobile-medium);
}

.advantage-et,
.advantage-to,
.advantage-tre {
  grid-column: 1 / -1;
  /* padding: var(--pt-medium); */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
}

.advantage-et svg,
.advantage-to svg,
.advantage-tre svg {
  width: 2.5rem;
  height: auto;
}

/**/

#three-steps {
  grid-column: 1 / -1;
  padding: var(--p-mobile-medium);
  background-color: var(--white);
  color: var(--dark-blue);
}

.fortael,
.vaelg,
.skift {
  grid-column: 1 / -1;
  padding: var(--pt-medium);
}

.ikonfortael,
.ikonvaelg,
.ikonskift {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: var(--m-auto);
}

/* Quotes */

#quotes-title {
  grid-column: 1 / -1;
  padding: var(--pt-mobile-medium);
  text-align: center;
}
#quotes {
  grid-column: 1 / -1;
}

.awssld__container {
  padding-bottom: var(--slider-height-percentage-tablet) !important;
}

.awssld__content {
  background-color: var(--background) !important;
}

.awssld__controls button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--control-button-width);
  height: var(--control-button-height);
  position: absolute;
  z-index: 0;
  top: calc(50% - (0.5 * var(--control-button-height)));
  border: none;
  color: var(--white) !important;
  cursor: pointer;
}

.awssld__controls__arrow-left::before,
.awssld__controls__arrow-left::after,
.awssld__controls__arrow-right::before,
.awssld__controls__arrow-right::after {
  background-color: var(--green) !important;
  /* z-index: 0; */
}

.quote-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  gap: 1.25rem;
  text-align: center;
}

.awssld__bullets {
  display: none !important;
}

.quotation-marks {
  font-size: 10rem;
  color: var(--green);
  font-family: var(--font);
  font-weight: 600;
}

/* Newsletter  */

#newsletter {
  grid-column: 1 / -1;
  background-color: var(--white);
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: var(--p-mobile-medium);
}

#newsletter form {
  background-color: var(--white);
}

/* Courses */

#courses {
  grid-column: 1 / -1;
  background-color: var(--ligh-blue);
  justify-items: start;
  align-items: start;
  text-align: center;
  padding: var(--mt-medium);
  color: var(--white);
  height: 100%;
}

#video {
  grid-column: 1 / -1;
  padding: var(--p-mobile-medium);
  background-color: var(--ligh-blue);
  color: var(--white);
}

.card-courses-container-video {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-shadow: var(--shadow);
  width: 100%;
  height: fit-content;
  position: relative;
  margin: var(--mtb-medium);
  color: var(--dark-blue);
  border-radius: var(--border-radius-20);
}

.card-courses-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  background-image: url("../public/herokurser.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: var(--border-radius-top-20); /* left in desktop */
}

.info-video-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1.25rem;
}

.video-description,
.video-price {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  /* gap: 0.5rem; */
}

.video-price {
  width: 100%;
}

/* Other Courses */

#other-courses .awssld__content,
#other-courses-desktop .awssld__content {
  background-color: var(--background) !important;
}

#other-courses {
  grid-column: 1 / -1;
  /* padding: var(--p-mobile-medium); */
  background-color: var(--white);
  color: var(--dark-blue);
}

#other-courses-desktop {
  display: none;
}

#other-courses .awssld__container,
#other-courses-desktop .awssld__container {
  padding-bottom: var(--slider-height-percentage-tablet) !important;
}

#other-courses-title {
  grid-column: 1 / -1;
  /* display: grid; */
  width: 100%;
  justify-items: center;
  padding: var(--pt-mobile-medium);
  color: var(--dark-blue);
  background-color: var(--background);
  text-align: center;
}

.other-courses-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 80%;
  gap: 5rem;
  text-align: center;
}

/* Course  */

#course-video-open {
  grid-column: 1 / -1;
}

.video-open-container {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-shadow: var(--shadow);
  width: 100%;
  height: fit-content;
  position: relative;
  /* margin: var(--mtb-medium); */
  color: var(--dark-blue);
  /* border-radius: var(--border-radius-20); */
}

.video-open-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  background-image: url("../public/videoopen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* border-radius: var(--border-radius-top-20);  */
}

.info-video-open-container {
  padding: var(--p-mobile-medium);
}

.video-open-description-title,
.video-open-description-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  /* gap: 0.5rem; */
}

.video-open-description-title {
  grid-column: 1 /-1;
  width: 100%;
}

.video-open-description-text {
  grid-column: 1 / -1;
  width: 100%;
}

/* Old Globals CSS */
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* All the Modals */

#modal-phone {
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
}

#modal-phone .modal-container {
  background-color: var(--green);
  color: var(--white) !important;
  box-shadow: var(--shadow);
}

#modal-phone h3 {
  margin: var(--mb);
}

#modal-phone .btn-contact {
  margin: var(--mt);
}

#modal-intro {
  /* grid-column: 3 / 11; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-items: center;
  align-items: center;
  z-index: 4;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-container {
  background-color: var(--white);
  margin: var(--m);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-20);
  padding: var(--p-medium);
}

.close-modal {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  /* right: 1rem; */
  /* top: 1rem; */
  cursor: pointer;
  padding: var(--p-medium);
  /* box-shadow: var(--shadow); */
}

.flex-row-modal {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.25rem;
  margin: var(--mtb-medium);
  /* overflow: scroll; */
}

.flex-row-modal p {
  text-align: center;
  font-size: 0.85rem;
  line-height: normal;
}

.flex-row-modal ul li {
  font-size: smaller;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  list-style-type: circle !important;
}

ul.bullet {
  list-style-type: circle !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
