@media only screen and (min-width: 768px) {
  /* Hero Home */

  /* Home  */

  .hero-home-container {
    grid-column: 1 / -1;
    background-color: var(--dark-blue);
    width: 100%;
    /* height: 550px; */
    height: 100vh;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    background-image: url("../public/herohome.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 0;
    margin: 0;
  }

  .hero-home-text {
    height: auto;
    padding: var(--p-medium);
    align-items: center;
  }

  .hero-home-image {
    aspect-ratio: 16 / 9;
    background-position: inherit;
  }

  .hero-home-text h1 {
    font-size: 2.25rem;
    margin: 0;
    /* font-weight: 800; */
  }

  .hero-home-text h4 {
    font-size: 1rem;
    margin: 0;
  }

  /* Advantages */

  #advantages {
    justify-items: center;
  }

  .fortael,
  .vaelg,
  .skift {
    width: 80%;
    padding: var(--p-large);
    margin: var(--m-auto);
    text-align: center;
  }

  .awssld__container {
    padding-bottom: var(--slider-height-percentage) !important;
  }

  .quote-container {
    width: 70%;
  }

  .trustpilot img {
    width: 50%;
  }

  /* Card Courses  */

  #other-courses .awssld__container,
  #other-courses-desktop .awssld__container {
    padding-bottom: var(--slider-height-percentage);
  }

  .info-video-container {
    /* display: flex; */
    flex-direction: row;
    /* justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 100%; */
  }

  .video-description {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }

  .video-price {
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
  }

  .video-description h4,
  .video-price h4,
  .card-price h4,
  .card-description h4 {
    width: 100%;
    margin: var(--mtb-small);
  }

  #about-us,
  #contact-us,
  #faq-questions {
    text-align: center;
  }
}
